# SPDX-FileCopyrightText: 2023 Gaël Écorchard <gael.ecorchard@cvut.cz>
# SPDX-FileCopyrightText: 2023 Robin Vobruba <hoijui.quaero@gmail.com>
#
# SPDX-License-Identifier: BSD-3-Clause

__pycache__/
/dist/
/build/
/graffle2svg.egg-info/
