Source: graffle2svg
Section: graphics
Priority: optional
Build-Depends: debhelper (>= 4.0), cdbs, gettext, debconf, python3
Maintainer: Stephane Galland <galland@arakhne.org>
Standards-Version: 3.9.2
XS-Python-Version: >= 2.7

Package: graffle2svg
Architecture: all
Depends: python3
Description: Basic converter from omnigraffle to svg
 Convert omnigraffle files to svg images.

